<div class = "container-fluid">
  <h1 class = "text-center">Policy Management</h1><hr />
  <div class = "row">
    <div class = "col-2">
      <a routerLink = "register" class = "btn btn-primary">Register</a> 
    </div>
    <div class = "col-2">
      <a routerLink = "login" class = "btn btn-primary">Login</a> 
    </div>
    <div class = "col-2">
      <input type="button" value="About Us" class="btn btn-primary">
    </div>
    <div class = "col-2">
      <input type="button" value="Contact Us" class="btn btn-primary">
    </div>
    
  </div>
  <h3>Welcome To The Site....</h3>
  <router-outlet></router-outlet>
</div>